/* Simple CSS pour styliser l'interface */
body {
    font-family: Arial, sans-serif;
}
#login {
    display: block;
}
#game, #invitation {
    display: none;
}
#players {
    list-style-type: none;
}
table {
    border-collapse: collapse;
}
td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
}
td.flag {
    background-color: white;
}
td.revealed {
    background-color: lightgray;
}
#messages {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    max-height: 150px;
    overflow-y: scroll;
    font-size: 12px;
}
#gameBoard {
    margin-bottom: 150px; /* Assurez-vous que le plateau n'écrase pas la div des messages */
}
#plateau {
    display: none;
}
#winnerModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
#winnerModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 1000;
}

.popup.show {
    opacity: 1;
    visibility: visible;
}
